@import "tailwindcss";

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-zinc-900 text-zinc-100 antialiased;
    background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 24px 24px;
    background-attachment: fixed;
  }
}
