---
import BaseLayouts from "@/Layouts/BaseLayouts.astro";
import "@/styles/global.css";
---

<BaseLayouts>
  <h1 class="text-4xl">Astro</h1>
  <button class="btn btn-error">hoge</button>
</BaseLayouts>
