---
const currentYear = new Date().getFullYear();
---

<footer
  class="footer footer-center bg-base-200/50 text-base-content border-base-200 mt-16 border-t p-8"
>
  <aside>
    <p class="text-base-content/70 text-sm">
      &copy; {currentYear} atara-327
    </p>
  </aside>
</footer>
